@charset "UTF-8";

@import "../fonts/fonts.css";

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: #F8F8F8;
	font-family: 'TT Lakes', sans-serif;
}

/* Header */
.header {
	background-color: #FFFFFF;
	border-bottom: 1px solid #D9FFF5;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Main */
.main {
	display: grid;
}